body {
  padding-bottom: 15px;
}
.visit {
  border: 1px solid black;
}
.size {
  min-width: 31%;
  max-width: 32%;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin: 15px 0 15px 0;
  width: 100px;
}
.name {
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color:rgb(53, 187, 120);
}
.form-control:hover{
background-color:rgb(187, 255, 221);
transition: 0.5s;
}
.btn {
  height: 50px;
}
.main {
  margin: 100px auto;
}
#btn-submit-newVisit{
  background-color: red;
  margin-top: 10px;
}

.modal {
  margin: 1rem 0 1rem;
}
.modal-backdrop {
  opacity: 0.5;
}
.overflow {
  overflow: hidden;
}
.head {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: whitesmoke;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
